.nav__logoImg--size {
  width: 4rem;
}
.view__card--size {
  width: 18rem;
}
.alert {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: fit-content;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.3rem 0.5rem;
  /* background-color: #f6f8f8; */
}
